<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--  위치권한 2가지 명세  -->
    <!--  도시 블록 내에서의 정확한 위치(네트워크 위치)  -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--  정확한 위치 확보(네트워크 + GPS위치)  -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!--  인터넷 권한 명세  -->
    <uses-permission android:name="android.permission.INTERNET"/>

<!--  도서관 정보 API가 HTTPS(보안프로토콜)이 아닌
        HTTP를 사용하기 때문에 uusesCleartextTraffic="true" 추가  -->
    <application

        android:usesCleartextTraffic="true"

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeoulPublicLibraries"
        tools:targetApi="31">
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAP_API_KEY}" />

        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>